USE [UNIVER]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[PSUBJECT] 
@p varchar(20),@c int output
as
begin
declare @k int = (select COUNT(*) from SUBJECT);
if @p is null 
select top(7)* from SUBJECT where  PULPIT in ('ISIT','OH','TL' ,'LV')
else 
select * from SUBJECT where  PULPIT =@p;
set @c =@@ROWCOUNT;
print 'settings:@p=' +ISNULL(@p,'NULL')+', @c='+cast(@c as varchar(3));
return @k;
end;
go

declare @k int =0,@r int,@p varchar(20) ='ISIT';
EXEC @k=PSUBJECT @p,@c=@r output ;
print 'count of subject='++cast(@k as varchar(4));;
print 'count of subject,where isit=' +cast(@p as nvarchar(4))+'='+cast(@r as varchar(4));
GO
