.button {
    display: flex;
    justify-content: center;
    padding: 5px;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;

    width: 100px;
    font-size: 20px;
    background-color: #60d8fb;
    border-radius: 3px;
}

.button:disabled {
    background-color: #387d92;
}

@media (max-width: 1080px) {
    .button {
        width: 70px;
    }
}

@media (max-width: 780px) {
    .button {
        padding: 0;
    }
}

@media (max-width: 480px) {
    .button {
       font-size: 14px;
    }
}